[submodule "libultraship"]
	path = libultraship
	url = https://github.com/kenix3/libultraship.git
	branch = port-maintenance
[submodule "torch"]
	path = torch
	url = https://github.com/HarbourMasters/Torch.git
	branch = main
[submodule "fury"]
	path = fury
	url = https://github.com/Daedie-git/Fury.git
